body{
    background-image: url(home.jpg) ;
    background-size: cover;
    background-position: center;
    color: #ff7bb1;
  font-family: 'Waltograph' , cursive;
text-align: center;
font-size: clamp(1rem,2.5vw,1.25rem);
max-height: 200vh;
overflow-x: hidden;
align-items: center;
backdrop-filter: blur (8px);
}
.container{
    padding: 1.5rem;
    border-radius: 0.9rem;
    margin: auto;
}
button{
    padding: 0.8rem 1rem;
    margin-top: 1rem;
   width: auto ; 
}
a{
  color:#ff7bb1 ;
  font-family: 'Waltograph' , cursive; ;  
  margin: 0.8vh;
  margin-top: 2vh;
  text-align: left;
}
.login-box{
    margin-top: 2rem;
    border-radius: 0.625rem;
    border: ridge;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
    backdrop-filter: blur(8PX);
    height: 35.95vh;
    border-color:#ff7bb1 ;
    font-size: 1.875rem;
    padding: 0.625rem;
    margin: auto;
}
h3{
    color: white;
    margin-top: -1rem;
    line-height: 1.2;
    font-size: 1.1rem;
}
.in{
border: 5px;
    width: 150px;
    border-radius: 50px;
    height: 30px;
    color: #ff7bb1;
    font-size: 20px;
  font-family: 'Waltograph' , cursive; 
}
@font-face {
    font-family: 'Waltograph';
    src: url('waltographUI.ttf') format('truetype');
}
h1{
    font-family: 'Waltograph' , cursive;
    color: white;
    margin-top: 2vh;
    text-align: center;
   line-height: 1.2; 
font-size: 2rem;
@media (max-width: 800px) {
.login-box{
    width: 90vw;
    height: auto;
    margin: 1.5em;
} 
.in{
    width: 90%;
}   
h1 {
    font-size:2rem ;
    line-height:1.2;
}
}

}